@{
    ViewBag.Title = "Newsboard";
}

<body img src="~/Scripts/Images/Adobe (Cropped).jpg">
</body>

<hgroup class="title">
    <h1>Newsboard.</h1>
    <h2>Check what's new on our store.</h2>
</hgroup>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        border-radius: 16px;
    }

    }
</style>
<section class="contact">
    <header>
        <h2>Coming Soon:</h2>
    </header>
    <p><b>Cuphead</b> (Coming Early November)<p /> <br />
    <p> <a href="~/Additional/Cuphead.cshtml"> <img src="~/Scripts/Images/Cuphead.jpg" class="center" ; width="200" height="350" /> </a> </p> <br />

    <p><b>Limbo</b> (Coming Late November)</p> <br />
    <p> <a href="~/Additional/Limbo.cshtml"> <img src="~/Scripts/Images/Limbo.png" class="center" ; width="150" height="350" /> </a> </p> <br />

    <p><b>Little Nightmares</b> (Coming Early December)</p> <br />
    <p> <a href="~/Additional/Little Nightmares.cshtml"> <img src="~/Scripts/Images/Little Nightmares.jpg" class="center" ; width="170" height="470" /> </a> </p> <br />

</section>





<section class="contact">
    <header>
        <h2>Wishlist</h2>
    </header>
    <p>
        There are currently no games in your wishlist.
    </p>
</section>
